// 这里写Vue的transition效果样式

.fade {
    &-enter-active, &-leave-active {
        transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
        will-change: trnsform;
    }
    &-enter, &-leave-active {
        opacity: 0;
        transform: translateX(40%);
    }
}